@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.google-font {
  font-family: 'Pathway Gothic One', sans-serif;
}

footer{ 
  position: absolute; 
  bottom: 0;
  left: 0; 
  right: 0;
}

.codewars {
  color: #A22F24;
}

.social-media {
  padding: 5px;
}

.rounded-img {
  border-radius: 50%;
  border: 2px solid black;
}

.css-card {
  position: relative;
  /* cursor: pointer; */
  margin: 5px;
  padding: 2vh;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.div-card {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.div-card:hover {
  opacity: 1;
  border-radius: 9px;
  transition: all 0.25s linear;
  filter: drop-shadow(0 0 0.75rem black);
}

.css-card-img {
  border-radius: 10px;
  width: 15vh;
  box-shadow: 0px 0px 3px 1px #cccccc;
}

.css-card-title, .css-card-subtitle {
  word-wrap: break-word;
  padding: 5px 10px 0 10px;
}

.css-card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px;
}

.css-card-subtitle {
  font-size: 0.8em;
  margin: 0px;
}

.rating-card {
  position: absolute;
  top: 70%;
  bottom: 20%;
  left: 10%;
  right: 10%; 
}

.deck-img {
  max-width: 100%;
}

.deck-title {
  font-size: 3vh;
  font-weight: bold;
}

.deck-year {
  color: rgb(201, 141, 51);
  font-weight: bold;
  -webkit-text-stroke: 1px #CF7498;
  -webkit-text-fill-color: #FFDE59;
}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}

.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}

/* button */
button.sc-AxjAm.Qmghp {
  outline: none;
}
button.sc-AxjAm.fJDuYb {
  outline: none;
}


/* media queries IN PROCESS!!! NOT COMPLETELY RESPONSIVE */
@media screen and (max-width: 1003px) {

  .css-card-img {
    width: 20vh;
  }

  footer {
    position: relative;
  }

}


